html {
  color: #333;
  font-size: 16px;
  font-family: "Microsoft Yahei";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
p,
i,
em,
b,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: "Microsoft Yahei";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
input,
button,
input {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
i,
em {
  font-style: normal;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
.clearfix:before {
  content: "​";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix:after {
  content: "​";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-2,
.ellipsis-3,
.ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ellipsis-2 {
  -webkit-line-clamp: 2;
}
.ellipsis-3 {
  -webkit-line-clamp: 3;
}
.ellipsis-4 {
  -webkit-line-clamp: 4;
}
.pointer {
  cursor: pointer;
}
.hover-opacity:hover {
  opacity: 0.8;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.vertical-top {
  vertical-align: top !important;
}
.vertical-bottom {
  vertical-align: bottom !important;
}
.vertical-middle {
  vertical-align: middle;
}
.block {
  display: block;
}
.w-1180,
.w1180 {
  margin: 0 auto;
  width: 1180px;
}
.w-1200,
.w1200 {
  margin: 0 auto;
  width: 1200px;
}
.min-w-1200 {
  min-width: 1200px;
}
.min-w-1300 {
  min-width: 1300px;
}
.w-1300,
.w1300 {
  margin: 0 auto;
  width: 1300px;
}
.col-5,
.w20 {
  width: 20% !important;
}
.w20.inline-block {
  width: 19% !important;
}
.w80 {
  width: 80% !important;
}
.w80.inline-block {
  width: 79% !important;
}
.col-4,
.w25 {
  width: 25% !important;
}
.w25.inline-block {
  width: 24% !important;
}
.w75 {
  width: 75% !important;
}
.w75.inline-block {
  width: 74% !important;
}

.col-3,
.w33 {
  width: 33.3% !important;
}
.w33.inline-block {
  width: 32% !important;
}
.w66 {
  width: 66.7% !important;
}
.w66.inline-block {
  width: 65% !important;
}
.col-2,
.w50 {
  width: 50% !important;
}
.w50.inline-block {
  width: 49% !important;
}
.col-1,
.w100 {
  width: 100% !important;
  min-width: auto !important;
}

.h100 {
  height: 100%;
}
.flex {
  display: flex !important;
  align-items: center;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-shrink-0{
    flex-shrink: 0;
}
.flex-col {
  flex-direction: column;
}

.no-shrink {
  flex-shrink: 0;
}

.flex1,
.flex-1 {
  flex: 1;
}
.flex2,
.flex-2 {
  flex: 2;
}
.flex3,
.flex-3 {
  flex: 3;
}
.flex4,
.flex-4 {
  flex: 4;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.col-center {
  align-items: center;
}

.col-top {
  align-items: flex-start;
}

.col-bottom {
  align-items: flex-end;
}

.col-stretch {
  align-items: stretch;
}
.col-baseline {
  align-items: baseline;
}
.row-left {
  justify-content: flex-start;
}

.row-center {
  justify-content: center;
}

.row-right {
  justify-content: flex-end;
}

.row-between {
  justify-content: space-between;
}

.row-around {
  justify-content: space-around;
}

.row-evenly {
  justify-content: space-evenly;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.c-000,
.c000 {
  color: #000;
}
.c-fff,
.cfff {
  color: #fff;
}
.c-333,
.c333 {
  color: #333;
}
.c-666,
.c666 {
  color: #666;
}
.c-999,
.c999 {
  color: #999!important;
}
.red{
  color:red;
}
.bg-fff,
.bgfff {
  background: #fff;
}
.border {
  border: 1px solid #eee;
}
.border-l {
  border-left: 1px solid #eee;
}
.border-r {
  border-right: 1px solid #eee;
}
.border-t {
  border-top: 1px solid #eee;
}
.border-b {
  border-bottom: 1px solid #eee;
}
.border-0,
.border0 {
  border: 0;
}
.pos-rela,
.psr {
  position: relative;
}
.pos-abso,
.psa {
  position: absolute;
}
.font-normal {
  font-weight: normal;
}
.font-bold,
.bold {
  font-weight: bold;
}
.font-bolder,
.bolder {
  font-weight: bolder;
}
.text-c,
.tc {
  text-align: center;
}
.text-r,
.tr {
  text-align: right;
}
.text-l,
.tl {
  text-align: left;
}
.text_justify {
  -moz-text-align-last: justify;
  text-align-last: justify;
}
.simsun {
  font-family: simsun;
}
.img img {
  width: 100%;
  height: 100%;
}
.img-hover img {
  transition: 0.5s;
}
.img-hover:hover img {
  transform: translateZ(0) scale(1.1);
}
.list-item-hover li {
  transition: 0.3s ease-in-out;
}
.list-item-hover li:hover {
  transform: translate3d(0, -4px, 0);
}
.link-list li > a,
.lia li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}
.bg-banner {
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.indent-2 {
  text-indent: 2em;
}
.over-hide {
  overflow: hidden;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-0,
.m0 {
  margin: 0 !important;
}
.p-0,
.p0 {
  padding: 0 !important;
}
.ml-0,
.ml0 {
  margin-left: 0 !important;
}
.pl-0,
.pl0 {
  padding-left: 0 !important;
}
.mt-0,
.mt0 {
  margin-top: 0 !important;
}
.pt-0,
.pt0 {
  padding-top: 0 !important;
}
.mr-0,
.mr0 {
  margin-right: 0 !important;
}
.pr-0,
.pr0 {
  padding-right: 0 !important;
}
.mb-0,
.mb0 {
  margin-bottom: 0 !important;
}
.pb-0,
.pb0 {
  padding-bottom: 0 !important;
}
.px-0,
.px0{
    padding-left: 0!important;
    padding-right: 0!important;
}
.py-0,
.py0{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.mx-0,
.mx0{
    margin-left: 0!important;
    margin-right: 0!important;
}
.my-0,
.my0{
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.m-5,
.m5 {
  margin: 5px !important;
}
.p-5,
.p5 {
  padding: 5px !important;
}
.ml-5,
.ml5 {
  margin-left: 5px !important;
}
.pl-5,
.pl5 {
  padding-left: 5px !important;
}
.mt-5,
.mt5 {
  margin-top: 5px !important;
}
.pt-5,
.pt5 {
  padding-top: 5px !important;
}
.mr-5,
.mr5 {
  margin-right: 5px !important;
}
.pr-5,
.pr5 {
  padding-right: 5px !important;
}
.mb-5,
.mb5 {
  margin-bottom: 5px !important;
}
.pb-5,
.pb5 {
  padding-bottom: 5px !important;
}
.px-5,
.px5{
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.py-5,
.py5{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.mx-5,
.mx5{
    margin-left: 5px!important;
    margin-right: 5px!important;
}
.my-5,
.my5{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.m-10,
.m10 {
  margin: 10px !important;
}
.p-10,
.p10 {
  padding: 10px !important;
}
.ml-10,
.ml10 {
  margin-left: 10px !important;
}
.pl-10,
.pl10 {
  padding-left: 10px !important;
}
.mt-10,
.mt10 {
  margin-top: 10px !important;
}
.pt-10,
.pt10 {
  padding-top: 10px !important;
}
.mr-10,
.mr10 {
  margin-right: 10px !important;
}
.pr-10,
.pr10 {
  padding-right: 10px !important;
}
.mb-10,
.mb10 {
  margin-bottom: 10px !important;
}
.pb-10,
.pb10 {
  padding-bottom: 10px !important;
}
.px-10,
.px10{
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.py-10,
.py10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.mx-10,
.mx10{
    margin-left: 10px!important;
    margin-right: 10px!important;
}
.my-10,
.my10{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.m-15,
.m15 {
  margin: 15px !important;
}
.p-15,
.p15 {
  padding: 15px !important;
}
.ml-15,
.ml15 {
  margin-left: 15px !important;
}
.pl-15,
.pl15 {
  padding-left: 15px !important;
}
.mt-15,
.mt15 {
  margin-top: 15px !important;
}
.pt-15,
.pt15 {
  padding-top: 15px !important;
}
.mr-15,
.mr15 {
  margin-right: 15px !important;
}
.pr-15,
.pr15 {
  padding-right: 15px !important;
}
.mb-15,
.mb15 {
  margin-bottom: 15px !important;
}
.pb-15,
.pb15 {
  padding-bottom: 15px !important;
}
.px-15,
.px15{
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.py-15,
.py15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.mx-15,
.mx15{
    margin-left: 15px!important;
    margin-right: 15px!important;
}
.my-15,
.my15{
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}
.m-20,
.m20 {
  margin: 20px !important;
}
.p-20,
.p20 {
  padding: 20px !important;
}
.ml-20,
.ml20 {
  margin-left: 20px !important;
}
.pl-20,
.pl20 {
  padding-left: 20px !important;
}
.mt-20,
.mt20 {
  margin-top: 20px !important;
}
.pt-20,
.pt20 {
  padding-top: 20px !important;
}
.mr-20,
.mr20 {
  margin-right: 20px !important;
}
.pr-20,
.pr20 {
  padding-right: 20px !important;
}
.mb-20,
.mb20 {
  margin-bottom: 20px !important;
}
.pb-20,
.pb20 {
  padding-bottom: 20px !important;
}
.px-20,
.px20{
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.py-20,
.py20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.mx-20,
.mx20{
    margin-left: 20px!important;
    margin-right: 20px!important;
}
.my-20,
.my20{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.m-25,
.m25 {
  margin: 25px !important;
}
.p-25,
.p25 {
  padding: 25px !important;
}
.ml-25,
.ml25 {
  margin-left: 25px !important;
}
.pl-25,
.pl25 {
  padding-left: 25px !important;
}
.mt-25,
.mt25 {
  margin-top: 25px !important;
}
.pt-25,
.pt25 {
  padding-top: 25px !important;
}
.mr-25,
.mr25 {
  margin-right: 25px !important;
}
.pr-25,
.pr25 {
  padding-right: 25px !important;
}
.mb-25,
.mb25 {
  margin-bottom: 25px !important;
}
.pb-25,
.pb25 {
  padding-bottom: 25px !important;
}
.px-25,
.px25{
    padding-left: 25px!important;
    padding-right: 25px!important;
}
.py-25,
.py25{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}
.mx-25,
.mx25{
    margin-left: 25px!important;
    margin-right: 25px!important;
}
.my-25,
.my25{
    margin-top: 25px!important;
    margin-bottom: 25px!important;
}
.m-30,
.m30 {
  margin: 30px !important;
}
.p-30,
.p30 {
  padding: 30px !important;
}
.ml-30,
.ml30 {
  margin-left: 30px !important;
}
.pl-30,
.pl30 {
  padding-left: 30px !important;
}
.mt-30,
.mt30 {
  margin-top: 30px !important;
}
.pt-30,
.pt30 {
  padding-top: 30px !important;
}
.mr-30,
.mr30 {
  margin-right: 30px !important;
}
.pr-30,
.pr30 {
  padding-right: 30px !important;
}
.mb-30,
.mb30 {
  margin-bottom: 30px !important;
}
.pb-30,
.pb30 {
  padding-bottom: 30px !important;
}
.px-30,
.px30{
    padding-left: 30px!important;
    padding-right: 30px!important;
}
.py-30,
.py30{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.mx-30,
.mx30{
    margin-left: 30px!important;
    margin-right: 30px!important;
}
.my-30,
.my30{
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}
.m-35,
.m35 {
  margin: 35px !important;
}
.p-35,
.p35 {
  padding: 35px !important;
}
.ml-35,
.ml35 {
  margin-left: 35px !important;
}
.pl-35,
.pl35 {
  padding-left: 35px !important;
}
.mt-35,
.mt35 {
  margin-top: 35px !important;
}
.pt-35,
.pt35 {
  padding-top: 35px !important;
}
.mr-35,
.mr35 {
  margin-right: 35px !important;
}
.pr-35,
.pr35 {
  padding-right: 35px !important;
}
.mb-35,
.mb35 {
  margin-bottom: 35px !important;
}
.pb-35,
.pb35 {
  padding-bottom: 35px !important;
}
.px-35,
.px35{
    padding-left: 35px!important;
    padding-right: 35px!important;
}
.py-35,
.py35{
    padding-top: 35px!important;
    padding-bottom: 35px!important;
}
.mx-35,
.mx35{
    margin-left: 35px!important;
    margin-right: 35px!important;
}
.my-35,
.my35{
    margin-top: 35px!important;
    margin-bottom: 35px!important;
}
.m-40,
.m40 {
  margin: 40px !important;
}
.p-40,
.p40 {
  padding: 40px !important;
}
.ml-40,
.ml40 {
  margin-left: 40px !important;
}
.pl-40,
.pl40 {
  padding-left: 40px !important;
}
.mt-40,
.mt40 {
  margin-top: 40px !important;
}
.pt-40,
.pt40 {
  padding-top: 40px !important;
}
.mr-40,
.mr40 {
  margin-right: 40px !important;
}
.pr-40,
.pr40 {
  padding-right: 40px !important;
}
.mb-40,
.mb40 {
  margin-bottom: 40px !important;
}
.pb-40,
.pb40 {
  padding-bottom: 40px !important;
}
.px-40,
.px40{
    padding-left: 40px!important;
    padding-right: 40px!important;
}
.py-40,
.py40{
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}
.mx-40,
.mx40{
    margin-left: 40px!important;
    margin-right: 40px!important;
}
.my-40,
.my40{
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}
.m-45,
.m45 {
  margin: 45px !important;
}
.p-45,
.p45 {
  padding: 45px !important;
}
.ml-45,
.ml45 {
  margin-left: 45px !important;
}
.pl-45,
.pl45 {
  padding-left: 45px !important;
}
.mt-45,
.mt45 {
  margin-top: 45px !important;
}
.pt-45,
.pt45 {
  padding-top: 45px !important;
}
.mr-45,
.mr45 {
  margin-right: 45px !important;
}
.pr-45,
.pr45 {
  padding-right: 45px !important;
}
.mb-45,
.mb45 {
  margin-bottom: 45px !important;
}
.pb-45,
.pb45 {
  padding-bottom: 45px !important;
}
.px-45,
.px45{
    padding-left: 45px!important;
    padding-right: 45px!important;
}
.py-45,
.py45{
    padding-top: 45px!important;
    padding-bottom: 45px!important;
}
.mx-45,
.mx45{
    margin-left: 45px!important;
    margin-right: 45px!important;
}
.my-45,
.my45{
    margin-top: 45px!important;
    margin-bottom: 45px!important;
}
.m-50,
.m50 {
  margin: 50px !important;
}
.p-50,
.p50 {
  padding: 50px !important;
}
.ml-50,
.ml50 {
  margin-left: 50px !important;
}
.pl-50,
.pl50 {
  padding-left: 50px !important;
}
.mt-50,
.mt50 {
  margin-top: 50px !important;
}
.pt-50,
.pt50 {
  padding-top: 50px !important;
}
.mr-50,
.mr50 {
  margin-right: 50px !important;
}
.pr-50,
.pr50 {
  padding-right: 50px !important;
}
.mb-50,
.mb50 {
  margin-bottom: 50px !important;
}
.pb-50,
.pb50 {
  padding-bottom: 50px !important;
}
.px-50,
.px50{
    padding-left: 50px!important;
    padding-right: 50px!important;
}
.py-50,
.py50{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}
.mx-50,
.mx50{
    margin-left: 50px!important;
    margin-right: 50px!important;
}
.my-50,
.my50{
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}
.m-60,
.m60 {
  margin: 60px !important;
}
.p-60,
.p60 {
  padding: 60px !important;
}
.ml-60,
.ml60 {
  margin-left: 60px !important;
}
.pl-60,
.pl60 {
  padding-left: 60px !important;
}
.mt-60,
.mt60 {
  margin-top: 60px !important;
}
.pt-60,
.pt60 {
  padding-top: 60px !important;
}
.mr-60,
.mr60 {
  margin-right: 60px !important;
}
.pr-60,
.pr60 {
  padding-right: 60px !important;
}
.mb-60,
.mb60 {
  margin-bottom: 60px !important;
}
.pb-60,
.pb60 {
  padding-bottom: 60px !important;
}
.px-60,
.px60{
    padding-left: 60px!important;
    padding-right: 60px!important;
}
.py-60,
.py60{
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}
.mx-60,
.mx60{
    margin-left: 60px!important;
    margin-right: 60px!important;
}
.my-60,
.my60{
    margin-top: 60px!important;
    margin-bottom: 60px!important;
}
.m-70,
.m70 {
  margin: 70px !important;
}
.p-70,
.p70 {
  padding: 70px !important;
}
.ml-70,
.ml70 {
  margin-left: 70px !important;
}
.pl-70,
.pl70 {
  padding-left: 70px !important;
}
.mt-70,
.mt70 {
  margin-top: 70px !important;
}
.pt-70,
.pt70 {
  padding-top: 70px !important;
}
.mr-70,
.mr70 {
  margin-right: 70px !important;
}
.pr-70,
.pr70 {
  padding-right: 70px !important;
}
.mb-70,
.mb70 {
  margin-bottom: 70px !important;
}
.pb-70,
.pb70 {
  padding-bottom: 70px !important;
}
.px-70,
.px70{
    padding-left: 70px!important;
    padding-right: 70px!important;
}
.py-70,
.py70{
    padding-top: 70px!important;
    padding-bottom: 70px!important;
}
.mx-70,
.mx70{
    margin-left: 70px!important;
    margin-right: 70px!important;
}
.my-70,
.my70{
    margin-top: 70px!important;
    margin-bottom: 70px!important;
}
.m-80,
.m80 {
  margin: 80px !important;
}
.p-80,
.p80 {
  padding: 80px !important;
}
.ml-80,
.ml80 {
  margin-left: 80px !important;
}
.pl-80,
.pl80 {
  padding-left: 80px !important;
}
.mt-80,
.mt80 {
  margin-top: 80px !important;
}
.pt-80,
.pt80 {
  padding-top: 80px !important;
}
.mr-80,
.mr80 {
  margin-right: 80px !important;
}
.pr-80,
.pr80 {
  padding-right: 80px !important;
}
.mb-80,
.mb80 {
  margin-bottom: 80px !important;
}
.pb-80,
.pb80 {
  padding-bottom: 80px !important;
}
.px-80,
.px80{
    padding-left: 80px!important;
    padding-right: 80px!important;
}
.py-80,
.py80{
    padding-top: 80px!important;
    padding-bottom: 80px!important;
}
.mx-80,
.mx80{
    margin-left: 80px!important;
    margin-right: 80px!important;
}
.my-80,
.my80{
    margin-top: 80px!important;
    margin-bottom: 80px!important;
}

.m-90,
.m90 {
  margin: 90px !important;
}
.p-90,
.p90 {
  padding: 90px !important;
}
.ml-90,
.ml90 {
  margin-left: 90px !important;
}
.pl-90,
.pl90 {
  padding-left: 90px !important;
}
.mt-90,
.mt90 {
  margin-top: 90px !important;
}
.pt-90,
.pt90 {
  padding-top: 90px !important;
}
.mr-90,
.mr90 {
  margin-right: 90px !important;
}
.pr-90,
.pr90 {
  padding-right: 90px !important;
}
.mb-90,
.mb90 {
  margin-bottom: 90px !important;
}
.pb-90,
.pb90 {
  padding-bottom: 90px !important;
}
.px-90,
.px90{
    padding-left: 90px!important;
    padding-right: 90px!important;
}
.py-90,
.py90{
    padding-top: 90px!important;
    padding-bottom: 90px!important;
}
.mx-90,
.mx90{
    margin-left: 90px!important;
    margin-right: 90px!important;
}
.my-90,
.my90{
    margin-top: 90px!important;
    margin-bottom: 90px!important;
}
.m-100,
.m100 {
  margin: 100px !important;
}
.p-100,
.p100 {
  padding: 100px !important;
}
.ml-100,
.ml100 {
  margin-left: 100px !important;
}
.pl-100,
.pl100 {
  padding-left: 100px !important;
}
.mt-100,
.mt100 {
  margin-top: 100px !important;
}
.pt-100,
.pt100 {
  padding-top: 100px !important;
}
.mr-100,
.mr100 {
  margin-right: 100px !important;
}
.pr-100,
.pr100 {
  padding-right: 100px !important;
}
.mb-100,
.mb100 {
  margin-bottom: 100px !important;
}
.pb-100,
.pb100 {
  padding-bottom: 100px !important;
}
.px-100,
.px100{
    padding-left: 100px!important;
    padding-right: 100px!important;
}
.py-100,
.py100{
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}
.mx-100,
.mx100{
    margin-left: 100px!important;
    margin-right: 100px!important;
}
.my-100,
.my100{
    margin-top: 100px!important;
    margin-bottom: 100px!important;
}
.f0,
.font-0 {
  font-size: 0 !important;
}
.font-12,
.f12 {
  font-size: 12px !important;
}
.font-13,
.f13 {
  font-size: 13px !important;
}
.font-14,
.f14 {
  font-size: 14px !important;
}
.font-15,
.f15 {
  font-size: 15px !important;
}
.font-16,
.f16 {
  font-size: 16px !important;
}
.font-17,
.f17 {
  font-size: 17px !important;
}
.font-18,
.f18 {
  font-size: 18px !important;
}
.font-19,
.f19 {
  font-size: 19px !important;
}
.font-20,
.f20 {
  font-size: 20px !important;
}
.font-21,
.f21 {
  font-size: 21px !important;
}
.font-22,
.f22 {
  font-size: 22px !important;
}
.font-23,
.f23 {
  font-size: 23px !important;
}
.font-24,
.f24 {
  font-size: 24px !important;
}
.font-25,
.f25 {
  font-size: 25px !important;
}
.font-26,
.f26 {
  font-size: 26px !important;
}
.font-27,
.f27 {
  font-size: 27px !important;
}
.font-28,
.f28 {
  font-size: 28px !important;
}
.font-29,
.f29 {
  font-size: 29px !important;
}
.font-30,
.f30 {
  font-size: 30px !important;
}
.font-31,
.f31 {
  font-size: 31px !important;
}
.font-32,
.f32 {
  font-size: 32px !important;
}
.font-33,
.f33 {
  font-size: 33px !important;
}
.font-34,
.f34 {
  font-size: 34px !important;
}
.font-35,
.f35 {
  font-size: 35px !important;
}
.font-36,
.f36 {
  font-size: 36px !important;
}
.font-37,
.f37 {
  font-size: 37px !important;
}
.font-38,
.f38 {
  font-size: 38px !important;
}
.font-39,
.f39 {
  font-size: 39px !important;
}
.font-40,
.f40 {
  font-size: 40px !important;
}

.lh16,
.lh-16 {
  line-height: 16px;
}
.lh18,
.lh-18 {
  line-height: 18px;
}
.lh20,
.lh-20 {
  line-height: 20px;
}
.lh22,
.lh-22 {
  line-height: 22px;
}
.lh24,
.lh-24 {
  line-height: 24px;
}
.lh26,
.lh-26 {
  line-height: 26px;
}
.lh28,
.lh-28 {
  line-height: 28px;
}
.lh30,
.lh-30 {
  line-height: 30px;
}
.lh32,
.lh-32 {
  line-height: 32px;
}

.radius {
  border-radius: 50%;
  overflow: hidden;
}
.radius-4,
.radius4 {
  border-radius: 4px !important;
}
.radius-6,
.radius6 {
  border-radius: 6px !important;
}
.radius-8,
.radius8 {
  border-radius: 8px !important;
}
.radius-10,
.radius10 {
  border-radius: 10px !important;
}
.radius-12,
.radius12 {
  border-radius: 12px !important;
}
.m-67-mp,
.m67m {
  margin: 0.67vw !important;
}
.p-67-mp,
.p67m {
  padding: 0.67vw !important;
}
.ml-67-mp,
.ml67m {
  margin-left: 0.67vw !important;
}
.pl-67-mp,
.pl67m {
  padding-left: 0.67vw !important;
}
.mt-67-mp,
.mt67m {
  margin-top: 0.67vw !important;
}
.pt-67-mp,
.pt67m {
  padding-top: 0.67vw !important;
}
.mr-67-mp,
.mr67m {
  margin-right: 0.67vw !important;
}
.pr-67-mp,
.pr67m {
  padding-right: 0.67vw !important;
}
.mb-67-mp,
.mb67m {
  margin-bottom: 0.67vw !important;
}
.pb-67-mp,
.pb67m {
  padding-bottom: 0.67vw !important;
}
.m-133-mp,
.m133m {
  margin: 1.33vw !important;
}
.p-133-mp,
.p133m {
  padding: 1.33vw !important;
}
.ml-133-mp,
.ml133m {
  margin-left: 1.33vw !important;
}
.pl-133-mp,
.pl133m {
  padding-left: 1.33vw !important;
}
.mt-133-mp,
.mt133m {
  margin-top: 1.33vw !important;
}
.pt-133-mp,
.pt133m {
  padding-top: 1.33vw !important;
}
.mr-133-mp,
.mr133m {
  margin-right: 1.33vw !important;
}
.pr-133-mp,
.pr133m {
  padding-right: 1.33vw !important;
}
.mb-133-mp,
.mb133m {
  margin-bottom: 1.33vw !important;
}
.pb-133-mp,
.pb133m {
  padding-bottom: 1.33vw !important;
}
.m-200-mp,
.m200m {
  margin: 2vw !important;
}
.p-200-mp,
.p200m {
  padding: 2vw !important;
}
.ml-200-mp,
.ml200m {
  margin-left: 2vw !important;
}
.pl-200-mp,
.pl200m {
  padding-left: 2vw !important;
}
.mt-200-mp,
.mt200m {
  margin-top: 2vw !important;
}
.pt-200-mp,
.pt200m {
  padding-top: 2vw !important;
}
.mr-200-mp,
.mr200m {
  margin-right: 2vw !important;
}
.pr-200-mp,
.pr200m {
  padding-right: 2vw !important;
}
.mb-200-mp,
.mb200m {
  margin-bottom: 2vw !important;
}
.pb-200-mp,
.pb200m {
  padding-bottom: 2vw !important;
}
.m-267-mp,
.m267m {
  margin: 2.67vw !important;
}
.p-267-mp,
.p267m {
  padding: 2.67vw !important;
}
.ml-267-mp,
.ml267m {
  margin-left: 2.67vw !important;
}
.pl-267-mp,
.pl267m {
  padding-left: 2.67vw !important;
}
.mt-267-mp,
.mt267m {
  margin-top: 2.67vw !important;
}
.pt-267-mp,
.pt267m {
  padding-top: 2.67vw !important;
}
.mr-267-mp,
.mr267m {
  margin-right: 2.67vw !important;
}
.pr-267-mp,
.pr267m {
  padding-right: 2.67vw !important;
}
.mb-267-mp,
.mb267m {
  margin-bottom: 2.67vw !important;
}
.pb-267-mp,
.pb267m {
  padding-bottom: 2.67vw !important;
}
.m-333-mp,
.m333m {
  margin: 3.33vw !important;
}
.p-333-mp,
.p333m {
  padding: 3.33vw !important;
}
.ml-333-mp,
.ml333m {
  margin-left: 3.33vw !important;
}
.pl-333-mp,
.pl333m {
  padding-left: 3.33vw !important;
}
.mt-333-mp,
.mt333m {
  margin-top: 3.33vw !important;
}
.pt-333-mp,
.pt333m {
  padding-top: 3.33vw !important;
}
.mr-333-mp,
.mr333m {
  margin-right: 3.33vw !important;
}
.pr-333-mp,
.pr333m {
  padding-right: 3.33vw !important;
}
.mb-333-mp,
.mb333m {
  margin-bottom: 3.33vw !important;
}
.pb-333-mp,
.pb333m {
  padding-bottom: 3.33vw !important;
}
.m-400-mp,
.m400m {
  margin: 4vw !important;
}
.p-400-mp,
.p400m {
  padding: 4vw !important;
}
.ml-400-mp,
.ml400m {
  margin-left: 4vw !important;
}
.pl-400-mp,
.pl400m {
  padding-left: 4vw !important;
}
.mt-400-mp,
.mt400m {
  margin-top: 4vw !important;
}
.pt-400-mp,
.pt400m {
  padding-top: 4vw !important;
}
.mr-400-mp,
.mr400m {
  margin-right: 4vw !important;
}
.pr-400-mp,
.pr400m {
  padding-right: 4vw !important;
}
.mb-400-mp,
.mb400m {
  margin-bottom: 4vw !important;
}
.pb-400-mp,
.pb400m {
  padding-bottom: 4vw !important;
}
.m-467-mp,
.m467m {
  margin: 4.67vw !important;
}
.p-467-mp,
.p467m {
  padding: 4.67vw !important;
}
.ml-467-mp,
.ml467m {
  margin-left: 4.67vw !important;
}
.pl-467-mp,
.pl467m {
  padding-left: 4.67vw !important;
}
.mt-467-mp,
.mt467m {
  margin-top: 4.67vw !important;
}
.pt-467-mp,
.pt467m {
  padding-top: 4.67vw !important;
}
.mr-467-mp,
.mr467m {
  margin-right: 4.67vw !important;
}
.pr-467-mp,
.pr467m {
  padding-right: 4.67vw !important;
}
.mb-467-mp,
.mb467m {
  margin-bottom: 4.67vw !important;
}
.pb-467-mp,
.pb467m {
  padding-bottom: 4.67vw !important;
}
.m-533-mp,
.m533m {
  margin: 5.33vw !important;
}
.p-533-mp,
.p533m {
  padding: 5.33vw !important;
}
.ml-533-mp,
.ml533m {
  margin-left: 5.33vw !important;
}
.pl-533-mp,
.pl533m {
  padding-left: 5.33vw !important;
}
.mt-533-mp,
.mt533m {
  margin-top: 5.33vw !important;
}
.pt-533-mp,
.pt533m {
  padding-top: 5.33vw !important;
}
.mr-533-mp,
.mr533m {
  margin-right: 5.33vw !important;
}
.pr-533-mp,
.pr533m {
  padding-right: 5.33vw !important;
}
.mb-533-mp,
.mb533m {
  margin-bottom: 5.33vw !important;
}
.pb-533-mp,
.pb533m {
  padding-bottom: 5.33vw !important;
}
.m-600-mp,
.m600m {
  margin: 6vw !important;
}
.p-600-mp,
.p600m {
  padding: 6vw !important;
}
.ml-600-mp,
.ml600m {
  margin-left: 6vw !important;
}
.pl-600-mp,
.pl600m {
  padding-left: 6vw !important;
}
.mt-600-mp,
.mt600m {
  margin-top: 6vw !important;
}
.pt-600-mp,
.pt600m {
  padding-top: 6vw !important;
}
.mr-600-mp,
.mr600m {
  margin-right: 6vw !important;
}
.pr-600-mp,
.pr600m {
  padding-right: 6vw !important;
}
.mb-600-mp,
.mb600m {
  margin-bottom: 6vw !important;
}
.pb-600-mp,
.pb600m {
  padding-bottom: 6vw !important;
}
.m-667-mp,
.m667m {
  margin: 6.67vw !important;
}
.p-667-mp,
.p667m {
  padding: 6.67vw !important;
}
.ml-667-mp,
.ml667m {
  margin-left: 6.67vw !important;
}
.pl-667-mp,
.pl667m {
  padding-left: 6.67vw !important;
}
.mt-667-mp,
.mt667m {
  margin-top: 6.67vw !important;
}
.pt-667-mp,
.pt667m {
  padding-top: 6.67vw !important;
}
.mr-667-mp,
.mr667m {
  margin-right: 6.67vw !important;
}
.pr-667-mp,
.pr667m {
  padding-right: 6.67vw !important;
}
.mb-667-mp,
.mb667m {
  margin-bottom: 6.67vw !important;
}
.pb-667-mp,
.pb667m {
  padding-bottom: 6.67vw !important;
}
.font-160-mp,
.f160m {
  font-size: 1.6vw !important;
}
.font-187-mp,
.f187m {
  font-size: 1.87vw !important;
}
.font-213-mp,
.f213m {
  font-size: 2.13vw !important;
}
.font-240-mp,
.f240m {
  font-size: 2.4vw !important;
}
.font-267-mp,
.f267m {
  font-size: 2.67vw !important;
}
.font-293-mp,
.f293m {
  font-size: 2.93vw !important;
}
.font-320-mp,
.f320m {
  font-size: 3.2vw !important;
}
.font-347-mp,
.f347m {
  font-size: 3.47vw !important;
}
.font-373-mp,
.f373m {
  font-size: 3.73vw !important;
}
.font-400-mp,
.f400m {
  font-size: 4vw !important;
}
.font-427-mp,
.f427m {
  font-size: 4.27vw !important;
}
.font-453-mp,
.f453m {
  font-size: 4.53vw !important;
}
.font-480-mp,
.f480m {
  font-size: 4.8vw !important;
}
